<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.webisapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="WebisApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.WebisApp">
        <activity android:name=".PlantDetailActivity" />
        <activity android:name=".PlantsActivity" />
        <activity android:name=".AddPlantActivity" />
        <activity android:name=".EditPlantActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />

        <activity
            android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>